<div class="card entry my-2 h-100">
  <div class="card-header">
    <%= form.object.category.name %>
  </div>
  <div class="card-body p-0">
    <div class="card-text entry__description editor-<%= editor_class %>">
      <%= form.hidden_field :description, id: "editor-#{form.object.category_id}" %>
      <trix-editor input="editor-<%= form.object.category_id %>">
    </div>
    <%= form.hidden_field :category_id %>
  </div>
</div>