<!DOCTYPE html>
<html>
  <head>
    <title>MateriaMedica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_bundle_tag 'app', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,600|Lato:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="mb-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Materia Medica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item<%= nav_active("remedies") %>">
              <a class="nav-link" href="/remedies">Mittel</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <%= javascript_bundle_tag 'app' %>
  </body>
</html>
